$theme-colors: (
  "primary": #e4e4e4,
);

.card {
  margin-bottom: 30px;
}

// NAVBAR STYLE

.navbar-text {
  display: inline-block;
  margin-bottom: 0px;}

.navbar p {
  margin-bottom: 0px;
}

.mr-auto {
  font-family: Comfortaa-Light;
}

.ButtonNavbar {
  background-color: #75D8A2;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  font-family: Comfortaa-Light;
}

.ButtonNavbar:hover {
  outline: none;
}

.justify-content-end {
  font-family: Comfortaa-Light;
}


// LOGIN PAGE

.logincover {
  height: 96vh;
  width:50%;
  text-align: center;
  justify-content: center;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.loginformcontainer {
  background-color: #e4e4e4 ;
  width: 50%;
}

.logo {
  padding-top: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

.loginform {
  text-align: center;
  font-family: Comfortaa-Regular;
}

.DefaultButton {
  background-color: #75D8A2;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 12px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  font-family: Comfortaa-Light;
}

.DefaultButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition: .5s ease;
  outline: none;
}

.DefaultButton:active {
  outline: none;
}

.imgProfile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.Welcome {
  font-size: 20px;
}


// FOOTER STYLE

.Foot {
  height: 3vh;
  text-align: center;
  font-size: small;
  font-family: Comfortaa-Light;
  color:#E4E4E4; 
  background-color: black;
}


//HEADER STYLE

.contenitore {
  margin: 0;
  padding: 10px;
  text-align: justify;
}

.images{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.ImgContainer {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #455753;
}

.Description {
  padding: 5px;
  width: 500px;
  word-wrap: break-word;
  font-family: Comfortaa-Regular;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ProfileName {
  background-color: #75D8A2;
  color: white;
  border-radius: 6px;
  text-align: center;
  font-family: Comfortaa-Medium;
}

.MyStory {
  font-family: Comfortaa-Light;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 25px;     /* fallback */
   max-height: 500px;      /* fallback */
   -webkit-line-clamp: 10; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.ButtonToTrip {
  background-color: #75D8A2;
  border-radius: 12px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  font-family: Comfortaa-Light;
  padding: 12px 40px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.ButtonToTrip:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition: .5s ease;
  outline: none;
}

.ButtonText {
  color: white;
}

.ButtonText:hover {
  color: white;
  text-decoration: none;
}

.ButtonText:link {
  text-decoration: none;
}

.ButtonText:visited {
  text-decoration: none;
}

.ButtonText:active {
  text-decoration: none;
}

.ButtonPosition {
  height: 100px;
  position: relative;
}


// MY TRIPS

.text-center {
  font-family: Comfortaa-Light;
}


// PLANNED TRIPS

.card {
  // display: block;
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
  align-items: center;
}

.TravelPhotoText {
  font-family: Comfortaa-Medium;
}

.card-img-top {
  margin-top: 20px;
}

.Middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.ImageContainer:hover .NewTripImage {
  opacity: 0.3;
  transition: .5s ease;
}

.ImageContainer:hover .Middle {
  opacity: 1;
}

.ButtonContainer {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.NewTripButton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #455753;
  border: none;
  border-radius: 50%;
  box-shadow: 0 9px #999;
}

.NewTripButton:hover {
  background-color: #455753;
  outline: none;
}

.NewTripButton:active {
  background-color: #455753;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  outline: none;
}


// SEARCH LOCATION

.LocationLogo {
  padding-top: 2.5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}

.BackgroundLocation {
  background-image: url('/Landscape.jpg');
  background-repeat: no-repeat;
  // background-size: 90% 800px;
  background-size: cover;
  background-position: center;
  // -webkit-border-radius: 50px;
  // -moz-border-radius: 50px;
  border-radius: 70px;
  border: none;
  width: 90%;
  min-height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.LocationStyle {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.OnSubmitStyle {
  color: #222222;
  font-family: Comfortaa-SemiBold;
}

input[type=submit] {
  background-color: #455753;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 3px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=text] {
  width: 300px;
  border-color: #455753;
  border-radius: 5px;

  background-image: url('/Binocolo.png');
  background-size: 22px;
  background-position: 4px 2px;
  background-repeat: no-repeat;
  padding-left: 35px;
}

.TextCenter {
  text-align: center;
  font-size: 50px;
  color: #222222;
  font-family: Comfortaa-SemiBold;
  // margin-top: 10px;
  top: 80px;
  position: relative;
}


// CREATE NEW TRIP



// FONT STYLE

@font-face {
  font-family: "Comfortaa-Light";
  src: url("/fonts/Comfortaa-Light.ttf");
}

@font-face {
  font-family: "Comfortaa-Medium";
  src: url("/fonts/Comfortaa-Medium.ttf");
}

@font-face {
  font-family: "Comfortaa-Regular";
  src: url("/fonts/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: "Comfortaa-SemiBold";
  src: url("/fonts/Comfortaa-SemiBold.ttf");
}


// NON SO COSA CAZZO SIANO

.flexcontainer {
  display: flex;
  justify-content: center;
  justify-content: space-around;  
}


// BOOSTRAP IMPORT

@import '../node_modules/bootstrap/scss/bootstrap.scss';