/*............................. GENERAL  .........................*/
$theme-colors: (
  "primary": #e4e4e4,
);

.flexcontainer {
  display: flex;

  justify-content: center;
  justify-content: space-around;
}

//Button
a {
  color: white;
  font-family: Comfortaa-Light;
  font-size: 16px;
}

button,
//Bootstrap button
button.btn.btn-primary[type="button"] {
  background-color: #75d8a2;
  color: white;
  padding: 12px 40px;
  text-decoration: none;
  font-family: Comfortaa-Light;
  text-align: center;
  border: none;
}

.button-to-trip,
.default-button,
.button-navbar,
input[type="submit"] {
  border-radius: 4px;
}

//CARD
.card {
  width: 18rem;
  align-items: center;
  margin-bottom: 30px;
}

//Center element
.case {
  display: block;
  font-family: Comfortaa-Light;
  text-align: center;
  padding: 10px 0;
}

.background-location,
.card,
.description-profile,
.img-container,
.logo,
.location-logo,
.modal-body,
.modal-title.h4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Comfortaa-Light;
}

//INPUT STYLE
input[type="submit"] {
  //Button "submit"
  background-color: #455753;
  border: none;
  color: white;
  padding: 3px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type="text"] {
  width: 300px;
  border-radius: 5px;
  background-image: url("/Binocolo.png");
  background-size: 22px;
  background-position: 4px 2px;
  background-repeat: no-repeat;
  padding-left: 35px;
}

//TEXT
h1,
h2,
.travel-photo-text {
  font-family: Comfortaa-Medium;
}

h3,
p {
  font-family: Comfortaa-Light;
}

/*................................ AUTOCOMPLETE PLACE ..............................*/

.autocomplete-place {
  position: relative;
  &-results {
    position: absolute;
    background-color: white;
    padding: 0;
    margin: 0;
    border: 1px solid #00000011;
  }
  &-items {
    list-style: none;
    border: 1px solid #00000011;
    cursor: pointer;
    padding: 10px 10px;
    &:hover {
      background-color: #0000ff11;
    }
  }
}

/*............................. CALENDAR  .........................*/
input.datapicker-input[type="text"] {
  background-image: url("/agenda.png");
  background-size: 20px;
  background-position: 4px 2px;
}

//change color of selected day calendar
.react-datepicker__day.react-datepicker__day--selected {
  background-color: #75d8a2;
}

/*................................ CREATE NEW TRIP ..............................*/
.all-sugg-cont,
.to-do-list-container {
  border: 2px solid #222222;
  border-radius: 8px;
  overflow: auto;
  width: 600px;
  height: 400px;
  max-width: 600px;
}

.blockOne {
  margin-left: 25px;
  font-family: Comfortaa-Light;
}

.blockTwo {
  margin-left: 5px;
}

//change style of bootsrap button in page
.button-to-do-list.btn.btn-primary[type="button"],
.button-activities.btn.btn-primary[type="button"],
.button-modal-footer.btn.btn-primary[type="button"],
.button-modal-footer.btn.btn-secondary[type="button"] {
  padding: 6px 20px;
  font-size: 12px;
  font-family: Comfortaa-Light;
}

.dropdown-item[role="button"] {
  color: white;
}

#dropdown-menu-align-right {
  //id-->DropdownButton
  color: white;
  background-color: #75d8a2;

  font-family: Comfortaa-Medium;
  padding: 3px 10px;
  box-shadow: none;
}

.dropdown-menu.show.dropdown-menu-right {
  //className-->Dropdown menu
  background-color: #75d8a2;
  font-family: Comfortaa-Medium;
  border-color: #75d8a2;
}

.header-new-trip,
.calendar-date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
}

.row {
  margin-top: 10px;
}

.pretty.p-default.p-curve {
  //className-->Checkbox
  margin-bottom: 30px;
}

.select-sugg,
.text-need-sugg,
.to-do-list {
  font-size: 20px;
}

.select-sugg {
  margin-bottom: 20px;
}

.sugg-container {
  margin-left: 11px;
}

.suggestions {
  display: flex;
  flex-flow: column wrap;
}

.to-do-list {
  margin-left: 18px;
  margin-top: 10px;
}

ul {
  margin-right: 8px;
}

/*............................. FOOTER STYLE  .........................*/
.foot {
  background-color: black;
  color: #e4e4e4;
  height: 3vh;
  font-family: Comfortaa-Light;
  font-size: small;
  text-align: center;
}

/*............................. HEADER STYLE  .........................*/
.button-to-trip {
  transition-duration: 0.4s;
  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

    transition: 0.5s ease;
  }
}

.button-text {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
  &:link {
    color: white;
    text-decoration: none;
  }
  &:visited {
    color: white;
    text-decoration: none;
  }
  &:active {
    color: white;
    text-decoration: none;
  }
}

.btn.btn-secondary {
  //className-->ButtonGroup
  color: white;
  background-color: #455753;
  padding: 8px 10px;
  border: 1px solid white;
}

.description-profile {
  width: 500px;
}

.img-container {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
}

.img-profile {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.myStory {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 25px; /* fallback */
  max-height: 500px; /* fallback */
  -webkit-line-clamp: 10; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-align: justify;
}

.profileName {
  background-color: #75d8a2;
  border-radius: 6px;
  color: white;
}

/*............................. LOGIN PAGE  .........................*/
.default-button {
  margin: 4px 2px;
  padding: 12px 60px;
  transition-duration: 0.4s;
  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s ease;
  }
}

.img-prof-log {
  border-radius: 50%;
}

.logincover {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 96vh;
  width: 50%;
}

.loginformcontainer {
  background-color: #e4e4e4;
  width: 50%;
}

.logo {
  padding-top: 15%;
  padding-bottom: 100px;
}

.welcome {
  font-size: 20px;
}

/*............................. NAVBAR STYLE  .........................*/
.button-navbar {
  margin: 4px 14px;
  font-size: 12px;
}

.navbar {
  &-text {
    display: inline-block;
    margin-bottom: 0px;
  }
  font-family: Comfortaa-Light;
  p {
    margin-bottom: 0px;
  }
}

/*................................ PLANNED TRIPS ..............................*/
.button-container {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.card-img-top {
  //className-->img polaroid
  margin-top: 20px;
}

.image-container {
  &:hover .new-trip-image {
    opacity: 0.3;
    transition: 0.5s ease;
  }
  &:hover .middle {
    opacity: 1;
  }
}

.middle {
  text-align: center;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.new-trip-button {
  padding: 15px 25px;
  font-size: 15px;
  border-radius: 50%;
  color: #fff;
  background-color: #455753;
  box-shadow: 0 9px #999;
  &:hover {
    background-color: #455753;
  }
  &:active {
    background-color: #455753;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    outline: none;
  }
}

/*................................ SEARCH LOCATION ..............................*/
.background-location {
  background-image: url("/Landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 70px;
  border: none;
  width: 90%;
  min-height: 600px;
}

.location-logo {
  padding-top: 2.5%;
  padding-bottom: 60px;
}

.location-style {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.on-submit-style {
  color: #222222;
  font-family: Comfortaa-SemiBold;
}

.src-location-title {
  font-size: 50px;
  color: #222222;
  font-family: Comfortaa-SemiBold;
  top: 80px;
  position: relative;
}

// FONT STYLE

@font-face {
  font-family: "Comfortaa-Light";
  src: url("/fonts/Comfortaa-Light.ttf");
}

@font-face {
  font-family: "Comfortaa-Medium";
  src: url("/fonts/Comfortaa-Medium.ttf");
}

@font-face {
  font-family: "Comfortaa-Regular";
  src: url("/fonts/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: "Comfortaa-SemiBold";
  src: url("/fonts/Comfortaa-SemiBold.ttf");
}

// Pretty Checkbox React

@import "@djthoms/pretty-checkbox/src/pretty-checkbox.scss";

@import "@djthoms/pretty-checkbox/src/rtl.scss";

// BOOSTRAP IMPORT

@import "../node_modules/bootstrap/scss/bootstrap.scss";
