$theme-colors: (
  "primary": #e4e4e4,
);



/*............................. FOOTER STYLE  .........................*/
.foot {
  /* Display and Box Model */
  height: 3vh;

  /* Text */
  font-family: Comfortaa-Light;
  font-size: small;
  text-align: center;

  /* Color */
  background-color: black;
  color:#E4E4E4; 
}


/*............................. LOGIN PAGE  .........................*/
.defaultButton {
  /* Border */
  border: none;
  border-radius: 12px;
 
  /* Color */
  background-color: #75D8A2;
  color: white;
 
  /* Display and Box Model */
  display: inline-block;
  margin: 4px 2px;
  padding: 12px 60px;
  text-decoration: none;
 
   /* Text */
  font-family: Comfortaa-Light;
  font-size: 16px;
  text-align: center;
 
  /* Other */
  cursor: pointer;
  transition-duration: 0.4s;
  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: .5s ease;
    outline: none;
  } 
 }

 .imgProfile {
  /* Display and Box Model */
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logincover {
  /* Display and Box Model */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 96vh;
  width:50%;

  /* Text */
  text-align: center;

  /* Other */
  justify-content: center;
}

.loginform {
  /* Text */
  text-align: center;
  font-family: Comfortaa-Regular;
}

.loginformcontainer {
  /* Color */
  background-color: #e4e4e4 ;

  /* Display and Box Model */
  width: 50%;
}

.logo {
  /* Display and Box Model */
  padding-top: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

.welcome {
  /* Text */
  font-size: 20px;
}


/*............................. NAVBAR STYLE  .........................*/

.buttonNavbar {
  /* Border */
  border: none;
  border-radius: 12px;

  /* Color */
  background-color: #75D8A2;
  color: white;

  /* Display and Box Model */
  display: inline-block;
  margin: 4px 14px;
  padding: 12px 40px;
  text-decoration: none;

   /* Text */
  font-family: Comfortaa-Light;
  font-size: 12px;
  text-align: center;

  /* Other */
  cursor: pointer;
  &:hover {
    box-shadow: none;
    outline: none;
  }
}

.justify-content-end {
  /* Text */
  font-family: Comfortaa-Light;
}

.mr-auto {
  /* Text */
  font-family: Comfortaa-Light;
}

.navbar {
  /* Display and Box Model */
  &-text {
    display: inline-block;
    margin-bottom: 0px;
  }

  /* Text */
  p {
    margin-bottom: 0px;
  }
}


/*............................. HEADER STYLE  .........................*/
.buttonToTrip {
  /* Border */
  border: none;
  border-radius: 12px;

  /* Color */
  background-color: #75D8A2;
  color: white;

  /* Display and Box Model */
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 40px;
  text-decoration: none;

  /* Text */
  font-family: Comfortaa-Light;
  font-size: 16px;
  text-align: center;

  /* Other */
  cursor: pointer;
  transition-duration: 0.4s;
  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    outline: none;
    transition: .5s ease;
    }  
}

.buttonText {
  /* Text */
  color: white;

  &:hover {
    /* Color */
    color: white;

    /* Text */
    text-decoration: none;
  }
  &:link {
    /* Color */
    color: white;

    /* Text */
    text-decoration: none;
  }
  &:visited {
    /* Color */
    color: white;

    /* Text */
    text-decoration: none;
  }
  &:active {
    /* Color */
    color: white;

    /* Text */
    text-decoration: none;
  }
}

.buttonPosition {
  /* Display and Box Model */
  height: 100px;
  position: relative;
}

.case {
  /* Display and Box Model */
  margin: 0;
  padding: 10px;

  /* Text */
  text-align: justify;
}

.description {
  /* Display and Box Model */
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 500px;
  word-wrap: break-word;

  /* Text */
  font-family: Comfortaa-Regular;
}

.images {
  /* Display and Box Model */
  height: 200px;
  object-fit: cover;
  width: 200px;
}

.imgContainer {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #455753;
}

.myStory {
  font-family: Comfortaa-Light;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 25px;     /* fallback */
   max-height: 500px;      /* fallback */
   -webkit-line-clamp: 10; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.profileName {
  background-color: #75D8A2;
  color: white;
  border-radius: 6px;
  text-align: center;
  font-family: Comfortaa-Medium;
}



// MY TRIPS

.text-center {
  font-family: Comfortaa-Light;
}


// PLANNED TRIPS

.card {
  // display: block;
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
  align-items: center;
  margin-bottom: 30px;
}

.travelPhotoText {
  font-family: Comfortaa-Medium;
}

.card-img-top {
  margin-top: 20px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imageContainer {
  &:hover .NewTripImage {
  opacity: 0.3;
  transition: .5s ease;
  }
  &:hover .middle {
    opacity: 1;
  }
}

// .ImageContainer:hover .NewTripImage {
//   opacity: 0.3;
//   transition: .5s ease;
// }

// .ImageContainer:hover .Middle {
//   opacity: 1;
// }

.buttonContainer {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.newTripButton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #455753;
  border: none;
  border-radius: 50%;
  box-shadow: 0 9px #999;
  &:hover {
    background-color: #455753;
    outline: none;
  }
  &:active {
    background-color: #455753;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    outline: none;
  }
}


// SEARCH LOCATION

.locationLogo {
  padding-top: 2.5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}

.backgroundLocation {
  background-image: url('/Landscape.jpg');
  background-repeat: no-repeat;
  // background-size: 90% 800px;
  background-size: cover;
  background-position: center;
  // -webkit-border-radius: 50px;
  // -moz-border-radius: 50px;
  border-radius: 70px;
  border: none;
  width: 90%;
  min-height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.locationStyle {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.onSubmitStyle {
  color: #222222;
  font-family: Comfortaa-SemiBold;
}

input[type=submit] {
  background-color: #455753;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 3px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=text] {
  width: 300px;
  border-color: #455753;
  border-radius: 5px;
  background-image: url('/Binocolo.png');
  background-size: 22px;
  background-position: 4px 2px;
  background-repeat: no-repeat;
  padding-left: 35px;
}

.textCenter {
  text-align: center;
  font-size: 50px;
  color: #222222;
  font-family: Comfortaa-SemiBold;
  // margin-top: 10px;
  top: 80px;
  position: relative;
}

// AUTOCOMPLETE PLACE

.autocompletePlace {
  position: relative;
  &-results {
    position: absolute;
    background-color: white;
    padding: 0;
    margin: 0;
    border: 1px solid #00000011;
  }
  &-items {
    list-style: none;
    border: 1px solid #00000011;
    cursor: pointer;
    padding: 10px 10px;
    &:hover {
      background-color: #0000FF11;
    }
  }
}


// CREATE NEW TRIP

.headerNewTrip {
  text-align: center;
  font-family: Comfortaa-Medium;
}

#dropdown-menu-align-right {
  color: #222222;
  background-color: #75D8A2;
  border-color: #75D8A2;
  font-family: Comfortaa-Medium;
  border-radius: 12px;
  padding: 3px 10px;
  box-shadow: none;
// per allineare bottone e scritta
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.dropdown-menu.show.dropdown-menu-right {
  background-color: #75D8A2;
  font-family: Comfortaa-Medium;
  border-color: #75D8A2;
}

.blockOne {
  // float: left;
  margin-left: 15px;
  font-family: Comfortaa-Light;
}

.textStyleSugg {
  font-family: Comfortaa-Light;
  font-size: 20px;
  // per allineare bottone e scritta
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: 10px;
}

.blockTwo {
  float: left;
  margin-left: 5px;
}

.pretty.p-default.p-round {
  margin-bottom: 20px;
}

.suggestions {
  display: flex;
  flex-flow: column wrap;
  margin-left: 10px;
}

.allSuggCont {
  width: 600px;
}

// FONT STYLE

@font-face {
  font-family: "Comfortaa-Light";
  src: url("/fonts/Comfortaa-Light.ttf");
}

@font-face {
  font-family: "Comfortaa-Medium";
  src: url("/fonts/Comfortaa-Medium.ttf");
}

@font-face {
  font-family: "Comfortaa-Regular";
  src: url("/fonts/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: "Comfortaa-SemiBold";
  src: url("/fonts/Comfortaa-SemiBold.ttf");
}


// NON SO COSA SIANO

.flexcontainer {
  display: flex;
  justify-content: center;
  justify-content: space-around;  
}


// Pretty Checkbox React

@import '@djthoms/pretty-checkbox/src/pretty-checkbox.scss';

@import '@djthoms/pretty-checkbox/src/rtl.scss';

// BOOSTRAP IMPORT

@import '../node_modules/bootstrap/scss/bootstrap.scss';